html {
  font-size: 62.5%;
  padding: 2.5rem;
  color: #838383;
  scroll-behavior: smooth; }
  @media (max-width: 37.5em) {
    html {
      padding: .5rem; } }

.header {
  background: url(../images/header.jpg) no-repeat;
  height: 66.6rem;
  background-size: cover;
  background-position: top;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative; }
  .header__text-box {
    margin-top: -12rem;
    text-align: center; }
  .header__logo--main {
    font-size: 3.3rem;
    margin: 0; }
  .header__logo--sub {
    font-size: 2.3rem;
    margin: 0; }
  .header:after {
    display: block;
    content: "";
    clear: both; }
  .header .flaticon-download {
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 7rem;
    margin: 0 -3rem; }
  .header .flaticon {
    display: inline-block; }

.nav {
  position: relative;
  padding: 1rem 0 1rem 0;
  border-bottom: 1px solid #ebebeb;
  height: 6rem;
  display: block; }
  @media (max-width: 37.5em) {
    .nav {
      display: flex;
      justify-content: space-between; } }
  .nav--logo {
    font-size: 2.2rem;
    float: left;
    display: block; }
    .nav--logo a {
      color: #838181;
      text-decoration: none; }
  .nav--wrapper {
    display: block;
    float: right;
    margin-top: 1rem; }
    @media (max-width: 37.5em) {
      .nav--wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #fff;
        opacity: 0;
        transition: all 0.2s ease; } }
  @media (min-width: 37.5em) and (max-width: 56.25em) {
    .nav ul {
      padding-left: 2.5rem; } }
  @media (max-width: 37.5em) {
    .nav ul {
      width: 100%;
      margin-top: 1rem;
      background: white; } }
  @media (min-width: 37.5em) and (max-width: 56.25em) {
    .nav ul li {
      margin-right: 2.4rem;
      border: solid 0.5px #838181; } }
  @media (max-width: 37.5em) {
    .nav ul li {
      display: block;
      float: none;
      width: 100%;
      text-align: right;
      margin-bottom: 1rem; } }
  @media (max-width: 37.5em) {
    .nav ul li a {
      padding: 1rem 2rem;
      opacity: 0;
      color: #838181;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1.2px;
      transform: translateX(-20px);
      transition: all 0.2s ease; } }
  @media (max-width: 37.5em) {
    .nav--btn {
      display: block;
      width: 5rem;
      height: 5rem;
      cursor: pointer;
      z-index: 9999;
      border-radius: 50%; } }
  @media (max-width: 37.5em) {
    .nav--btn i {
      display: block;
      width: 2rem;
      height: 2px;
      background: #000;
      border-radius: 2px;
      margin-left: 1.5rem;
      margin-top: 1rem; } }
  @media (max-width: 37.5em) {
    .nav--btn i:nth-child(1) {
      margin-top: 1.6rem; } }
  @media (max-width: 37.5em) {
    .nav--btn i:nth-child(2) {
      margin-top: 4px;
      opacity: 1; } }
  @media (max-width: 37.5em) {
    .nav--btn i:nth-child(3) {
      margin-top: 4px; } }

nav ul li {
  display: inline-block;
  margin-right: 5.5rem; }
  nav ul li a {
    display: inline-block;
    outline: none;
    color: #838181;
    text-transform: uppercase;
    font-size: 1.3rem;
    text-decoration: none; }
    nav ul li a:hover {
      border-bottom: 2px solid #cf7b7b;
      text-decoration: none;
      color: #838181; }

@media (max-width: 37.5em) {
  #nav:checked + .nav--btn {
    transform: rotate(45deg); } }

@media (max-width: 37.5em) {
  #nav:checked + .nav--btn i {
    background: black;
    transition: transform 0.2s ease; } }

@media (max-width: 37.5em) {
  #nav:checked + .nav--btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg); } }

@media (max-width: 37.5em) {
  #nav:checked + .nav--btn i:nth-child(2) {
    opacity: 0; } }

@media (max-width: 37.5em) {
  #nav:checked + .nav--btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg); } }

@media (max-width: 37.5em) {
  #nav:checked ~ .nav--wrapper {
    z-index: 9990;
    opacity: 1; } }

@media (max-width: 37.5em) {
  #nav:checked ~ .nav--wrapper ul li a {
    opacity: 1;
    transform: translateX(0); } }

.hidden {
  display: none; }

.footer {
  height: 16rem;
  text-align: center; }
  .footer__logo {
    font-size: 2.1rem;
    margin: 0;
    color: black;
    margin: 2rem auto; }
    .footer__logo--main {
      font-size: 2.1rem !important;
      word-spacing: -0.5rem; }
    .footer__logo--sub {
      font-size: 1.5rem !important; }
  .footer .flaticon-up-arrow {
    color: #898787;
    text-decoration: none; }

.about {
  padding-top: 14rem;
  text-align: center;
  width: 100%; }
  .about:before {
    display: block;
    content: "";
    clear: both; }
  @media (max-width: 37.5em) {
    .about {
      padding-top: 5rem; } }
  .about__paragraph {
    max-width: 78rem;
    padding-top: 2rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    line-height: 2;
    display: inline-block;
    color: #848282; }

.works {
  text-align: center;
  background-size: cover; }
  .works__header {
    padding-top: 12rem;
    padding-bottom: 5rem; }
  .works__container {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 37rem 2.5rem 37rem 2.5rem 44rem;
    grid-template-columns: 37rem 37rem 44rem;
    -ms-grid-rows: 36.6rem 2.5rem 36.6rem 2.5rem 36.6rem 2.5rem;
    grid-template-rows: 36.6rem 36.6rem 36.6rem;
    grid-gap: 2.5rem 2.5rem;
    -ms-grid-row-align: stretch;
    justify-items: stretch;
    align-items: stretch;
    margin-bottom: 7.5rem;
    justify-content: center; }
    @media (max-width: 37.5em) {
      .works__container {
        grid-template-columns: 33rem;
        grid-template-rows: repeat(6, 36.6rem);
        grid-gap: 2.5rem 2.5rem; } }
    @media (min-width: 37.5em) and (max-width: 56.25em) {
      .works__container {
        grid-template-columns: repeat(2, 46%);
        grid-template-rows: repeat(3, 36.6rem);
        grid-gap: 2.5rem 2.5rem; } }
  .works__item {
    position: relative;
    overflow: hidden;
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(0%);
    /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(0%);
    /* FF 35+ */ }
    .works__item:hover {
      -webkit-filter: grayscale(50%);
      /* Ch 23+, Saf 6.0+, BB 10.0+ */
      filter: grayscale(50%);
      /* FF 35+ */ }
    .works__item-center {
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; }
  .works__item--1 {
    background: url(../images/works_1.jpg) no-repeat;
    grid-row: 1 / 2;
    grid-column: 1 / 3; }
    @media (max-width: 37.5em) {
      .works__item--1 {
        grid-row: 1 / 1;
        grid-column: 1 / 1; } }
    @media (min-width: 37.5em) and (max-width: 56.25em) {
      .works__item--1 {
        grid-row: 1 / 1;
        grid-column: 1 / 1; } }
  .works__item--2 {
    background: url(../images/works_2.jpg) no-repeat;
    grid-row: 1/span 2;
    grid-column: 3/3; }
    @media (max-width: 37.5em) {
      .works__item--2 {
        grid-row: 2 / 2;
        grid-column: 1 / 1; } }
    @media (min-width: 37.5em) and (max-width: 56.25em) {
      .works__item--2 {
        grid-row: 1 / 1;
        grid-column: 2 / 2; } }
  .works__item--3 {
    background: url(../images/works_3.jpg) no-repeat;
    grid-row: 2 / 3;
    grid-column: 1 / 2; }
    @media (max-width: 37.5em) {
      .works__item--3 {
        grid-row: 3 / 3;
        grid-column: 1 / 1; } }
    @media (min-width: 37.5em) and (max-width: 56.25em) {
      .works__item--3 {
        grid-row: 2 / 2;
        grid-column: 1 / 1; } }
  .works__item--4 {
    background: url(../images/works_4.jpg) no-repeat;
    grid-row: 2 / 3;
    grid-column: 2/ 3; }
    @media (max-width: 37.5em) {
      .works__item--4 {
        grid-row: 4 / 4;
        grid-column: 1 / 1; } }
    @media (min-width: 37.5em) and (max-width: 56.25em) {
      .works__item--4 {
        grid-row: 2 / 2;
        grid-column: 2 / 2; } }
  .works__item--5 {
    background: url(../images/works_5.jpg) no-repeat;
    grid-row: 3 / 4;
    grid-column: 1 / 3; }
    @media (max-width: 37.5em) {
      .works__item--5 {
        grid-row: 5 / 5;
        grid-column: 1 / 1; } }
    @media (min-width: 37.5em) and (max-width: 56.25em) {
      .works__item--5 {
        grid-row: 3 / 3;
        grid-column: 1 / 1; } }
  .works__item--6 {
    background: url(../images/works_6.jpg) no-repeat;
    grid-row: 3 / 4;
    grid-column: 3 / 4; }
    @media (max-width: 37.5em) {
      .works__item--6 {
        grid-row: 6 / 6;
        grid-column: 1 / 1; } }
    @media (min-width: 37.5em) and (max-width: 56.25em) {
      .works__item--6 {
        grid-row: 3 / 3;
        grid-column: 2 / 2; } }

.works__item:hover .content {
  padding: 6rem; }

.content {
  padding: 20px;
  transition: all 300ms ease-in-out; }

.works__item-center:before,
.works__item-center:after,
.content:before,
.content:after {
  content: "";
  background-color: #ffffff;
  position: absolute; }

.works__item-center:before {
  background: none;
  border-top: 2px solid white;
  border-left: 2px solid white;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0; }

.works__item-center:after {
  background: none;
  border-top: 2px solid white;
  border-right: 2px solid white;
  width: 40px;
  height: 40px;
  top: 0;
  right: 0; }

.content:before {
  background: none;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  width: 40px;
  height: 40px;
  bottom: 0;
  left: 0; }

.content:after {
  background: none;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  width: 40px;
  height: 40px;
  bottom: 0;
  right: 0; }

.testimonial {
  text-align: center;
  margin: 9rem auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.carousel {
  height: 20rem;
  max-width: 50rem;
  padding-top: 5rem; }
  @media (max-width: 37.5em) {
    .carousel {
      max-width: 30rem;
      height: 25rem; } }
  .carousel--item {
    color: #a0a0a0;
    font-family: Raleway;
    font-weight: 300; }
    .carousel--item .description {
      font-size: 18px; }
    .carousel--item .sign {
      font-size: 14px; }

.slick-dots li button {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  border-radius: 100%;
  border: none;
  background-color: #d3d3d3;
  text-indent: -9999px; }

.slick-dots li.slick-active button {
  background-color: #d07c7c;
  height: 1.7rem;
  width: 1.7rem; }

.contact {
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url(../images/works_5.jpg);
  background-size: cover;
  background-position: top;
  text-align: center;
  height: 70rem;
  padding-top: 8rem;
  margin-bottom: 1rem; }

.form__input {
  width: 58rem;
  height: 4rem;
  margin: 2rem;
  border: solid 0.1rem #d07c7c;
  padding: 1rem; }
  @media (max-width: 37.5em) {
    .form__input {
      width: 80%; } }
  @media (min-width: 37.5em) and (max-width: 56.25em) {
    .form__input {
      width: 80%; } }

.form__input-text {
  height: 13.5rem; }

.form__footer {
  display: flex;
  justify-content: center; }
  @media (max-width: 37.5em) {
    .form__footer {
      flex-direction: column;
      align-items: center; } }
  @media (min-width: 37.5em) and (max-width: 56.25em) {
    .form__footer {
      flex-direction: column;
      align-items: center; } }

.follow-me {
  margin-top: 13rem;
  margin-bottom: 10rem;
  text-align: center; }
  .follow-me__icon {
    display: flex;
    align-items: center;
    justify-content: center; }
  .follow-me .icon {
    position: relative;
    font-size: 5rem;
    cursor: pointer;
    margin: 15px 30px;
    width: 7rem;
    height: 7rem;
    line-height: 5rem;
    padding-right: 1.5rem;
    border-radius: 50%;
    text-align: center;
    z-index: 1;
    color: #838181; }
    @media (max-width: 37.5em) {
      .follow-me .icon {
        margin: 7px 0;
        font-size: 3.5rem;
        line-height: 6rem; } }
  .follow-me .icon:after {
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    box-sizing: content-box; }
  .follow-me .follow-me-effect .icon:after {
    top: -8px;
    left: -8px;
    padding: 8px;
    box-shadow: 0 0 0 4px #e6b5b5;
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(0.8);
    opacity: 0; }
  .follow-me .follow-me-effect .icon {
    transition: background 0.2s, color 0.2s; }
  .follow-me .follow-me-effect .icon:hover {
    background: #e6b5b5;
    color: white;
    text-decoration: none; }
  .follow-me .follow-me-effect .icon:after {
    transform: scale(1.2); }
  .follow-me .follow-me-effect .icon:hover:after {
    transform: scale(1);
    opacity: 1; }

.video {
  background-image: url(../images/video.jpg);
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center; }
  .video h4 {
    visibility: hidden; }

.hr--white {
  background-color: white;
  width: 7.9rem;
  height: 3px;
  margin-top: 2rem; }

.hr--orange {
  background-color: #d07c7c;
  width: 6%;
  height: 3px;
  margin-top: 2rem; }

.logo__main {
  font-family: 'Dancing Script', cursive;
  word-spacing: -0.4rem; }

.heading-primary--main {
  font-size: 48px;
  font-family: 'Playfair Display', serif;
  padding-top: 5rem; }

.heading-primary--sub {
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
  padding-top: 3rem; }

.heading-secondary {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  color: #5a5957; }

.heading-tertiary {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 100;
  font-family: 'Playfair Display', serif;
  margin: 0;
  border-bottom: solid white 1.5px; }

.heading-quaternary {
  font-size: 2.5rem;
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  color: #848282; }

.paragraph__works {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  font-weight: 100;
  color: white;
  width: 17rem; }

.paragraph__form {
  font-size: 1.4rem;
  padding-top: 2rem;
  color: #848282; }
  .paragraph__form--bottom {
    margin-right: 10rem;
    font-size: 1.4rem;
    padding-top: 2rem;
    color: #848282; }
    @media (max-width: 37.5em) {
      .paragraph__form--bottom {
        margin-right: 0; } }
    @media (min-width: 37.5em) and (max-width: 56.25em) {
      .paragraph__form--bottom {
        margin-right: 0; } }

.paragraph__about {
  max-width: 78rem;
  padding-top: 2rem;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  line-height: 2;
  display: inline-block;
  color: #848282; }

.paragraph__footer {
  font-size: 1.2rem;
  line-height: 20px;
  color: #848282;
  font-family: "Raleway";
  font-weight: 300; }

.btn {
  text-transform: uppercase;
  color: white;
  background-color: #d07c7c;
  font-size: 16px !important;
  box-sizing: inherit; }
  .btn-works {
    padding: 1.25rem 5.5rem !important; }
  .btn-contact {
    padding: 1.25rem 5rem !important; }
    @media (max-width: 37.5em) {
      .btn-contact {
        height: 5rem;
        padding: 1.25rem 2rem !important; } }

.hamburger {
  display: none;
  float: right; }
  .hamburger__line {
    width: 5rem;
    height: 0.4rem;
    background-color: dimgray;
    display: block;
    margin-bottom: 1rem;
    transition: all 1s ease-in-out; }
  @media (max-width: 37.5em) {
    .hamburger {
      display: block; } }

#hamburger.is-active .hamburger__line:nth-child(1) {
  opacity: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%); }

#hamburger.is-active .hamburger__line:nth-child(3) {
  opacity: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%); }
