.footer{
    height: 16rem;
    text-align: center;
    
    &__logo{
        font-size: 2.1rem;
        margin: 0;
        color: black;
        margin: 2rem auto;
        
        &--main{
            font-size: 2.1rem !important;
            word-spacing: -0.5rem;
        }
        
        
        &--sub{
            font-size: 1.5rem !important;
        }
        
    }
    
    .flaticon-up-arrow{
        color: #898787;
        text-decoration: none;
    }
}



