.video {
    background-image: url(../images/video.jpg);
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    
    h4{
        visibility: hidden;
    }
}